@font-face {
	font-family: 'Oliver';
	src: url('assets/Oliver-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


:root {
	--bg-color: #1e1e1e;
	--text-color: #FEFADD;
	--card-1-color: #FEB51B;
	--card-2-color: #4853EA;
	--card-3-color: #F4783E;
	--title-font-size: 1.2rem;
	--paragraph-font-size: 1.2rem;
	--label-font-size: 0.875rem;
	--margin: 1rem;
	--padding: 1.4rem;
	--sub-text:0.9rem;
	--font-family: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	text-align: center;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Top Nav */
.logo-bar {
	display: flex;
	justify-content: center;
	gap: 0rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--text-color);
}

.block {
	width: 20px;
	height: 30px;
	display: inline-block;
	border-radius: 2px;
}

.block-yellow {
	background: var(--card-1-color);
	transform: rotate(-10deg);
}

.block-purple {
	background: var(--card-2-color);
	transform: rotate(5deg);
}

.block-orange {
	background: var(--card-3-color);
	transform: rotate(-10deg);
}

.why-use {
	padding: var(--padding);
}

h1 {
	font-size: 1.2rem;
	font-family: var(--font-family);
	font-weight: 400;
	margin-top: 2rem;
}

#uni {
	font-family: 'Oliver', "Just Me Again Down Here", sans-serif;
	font-size: 4.3rem;
	margin-bottom: 0.5rem;
	/* initially 2rem  */
	margin-top: 0rem;
}

/* Gradient text - https://codepen.io/leocampos/pen/pPwwNR */
.gradient-text {
	background: linear-gradient(45deg, 
	#FEB51B 0%,
	#F4783E 50%,
	#4853EA 99%
);
	background-size: 300% 300%;
	animation: moveGradient 4s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}

.sub-text {
	font-family: var(--font-family);
	font-size: var(--label-font-size);
	color: #FEFADD;
}

@keyframes moveGradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.why-use p {
	font-family: "avenir-lt-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: var(--sub-text);
	color: var(--text-color);
	max-width: 500px;
	opacity: 0.8;
}

/* CARD STYLES */
.card-container {
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	padding: 1.4rem 1rem;
}

.tarot-card {
	display: inline-block;
	width: 200px;
	/* height: 460px; */
	margin: 0 1rem;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	transition: transform 0.3s ease;
	vertical-align: top;
}

.tarot-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 12px;
}


footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: var(--bg-color);
	z-index: 1000;
	padding: 1rem;
	text-align: center;
	border-top: 1px solid #FEFADD;
}

footer p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 0.9rem;
	color: #FEFADD;
	/* opacity: 0.5; */
}

/* Add some magic with slight card tilt */
#tarot-card1 { transform: rotate(-4deg); }
#tarot-card2 { transform: rotate(3deg); }
#tarot-card3 { transform: rotate(-2deg); }

/* Optional hover (no zoom) */
.tarot-card:hover {
	transform: rotate(0deg);
	cursor: pointer;
	z-index: 10;
}


@media (min-width:1200px) {

	@keyframes float {
		0%	{ transform: translateY(0); }
		100%	{ transform: translateY(0); }
	}
	
	.tarot-card:hover {
		animation: float 0.5s ease-in-out infinite;
	}
	
}