:root {
	--bg-color: #EFEEEB;
	--text-color: #1E1E1E;
	--title-font-size: 2rem;
	--paragraph-font-size: 1.2rem;
	--margin: 2rem;
	--padding: 2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background: var(--bg-color);
	color: var(--text-color);
	text-align: center;
	padding: var(--padding);
	margin: var(--margin);
  }

header {
	color: var(--text-color);
}

h1 {
	font-size: var(--title-font-size);
	margin-bottom: 1rem;
}

.intro {
	font-size: var(--paragraph-font-size);
	margin-bottom: var(--margin);
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.tarot-card {
	width: 300px;
	height: 400px;
	/* perspective: 1000px; */
}

.card-inner {
	width: 100%;
	height: 100%;
	/* transition: transform 0.8s; */
	transform-style: preserve-3d;
}

.tarot-card:hover .card-inner {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--padding);
	/* box-shadow: 0 10px 25px rgba(0,0,0,0.4); */
  }
  
  .card-front {
	background: var(--text-color);
	font-size: 3rem;
  }
  
  .card-back {
	background: var(--text-color);
	color: var(--bg-color);
	transform: rotateY(180deg);
	flex-direction: column;
}
