:root {
	--bg-color: #EFEEEB;
	--text-color: #1E1E1E;
	--title-font-size: 2rem;
	--paragraph-font-size: 1rem;
	--margin: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: var(--margin);
	align-items:center;
}

header {
	font-size: var(--title-font-size);
	font-family: "dazzle-unicase", sans-serif;
	font-weight: 300;
	font-style: normal;
}

img {
	width: 400px;
	height: 100%;
}

p {
	max-width: 600px;
}