:root {
	--bg-color: #EFEEEB;
	--text-color: #1E1E1E;
	--title-font-size: 2rem;
	--paragraph-font-size: 1rem;
	--margin: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: var(--margin);
	font-family: Arial, sans-serif;
	padding: 20px;
	background-color: #ffffff;
}

header {
	font-size: 1.4rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

.summary {
	color: #848484;
	max-width: 600px;
}

.container {
	margin: 2rem;
	margin-left: 0rem;
	max-width: 600px;
	background: #ffff;
	padding: 20px;
	border: #1E1E1E 2px solid;
}

label {
	display: block;
	margin-top: 1rem;
	color: #848484;
}

input {
	width: 100%;
	padding: 12px;
	margin-top: 6px;
	margin-bottom: 12px;
	border: 1px solid #d2d2d2;
}

button {
	background-color: #1e1e1e;
	color: #f4f4f4;
	border: none;
	margin-top: 2rem;
	padding: 8px 24px;
	font-size: 16px;
	cursor: pointer;
}

#result {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
}