body {
	font-family: sans-serif;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }

  #timeSlider {
	width: 100%;
	margin: 1rem 0;
  }
  
  #timeValue {
	font-weight: bold;
	margin-bottom: 1rem;
  }
  
  #timerDisplay {
	font-size: 2rem;
	margin-top: 1rem;
	font-weight: bold;
  }
  
  #resultMessage {
	margin-top: 1rem;
	font-size: 1.2rem;
	color: #1e1e1e;
  }
  